h1 {
	margin: 10px 30px 10px 30px;
	padding: 10px 30px 10px 30px;
	display: flex;
}
.allCards {
	display: flex;
	flex-flow: row wrap;
}

.indCards {
	display: flex;
	flex-flow: row wrap;
	border: 10px dashed red;
	padding: 30px 30px 30px 30px;
	border-width: 5px;
	border-radius: 20px;
	margin: 30px 30px 30px 30px;
	height: 300px;
	width: 350px;
}

.coinmarketcap-currency-widget {
	height: 250px
	width: 100%;
}

iframe {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	height: 250px;
	width: 100%;
}

